.obstacle {
    width: 30px;
    height: 30px;
    outline: 1px solid black;
    display: inline-block;
}

.obstacle-start {
    background-color: green;
}

.obstacle-finish {
    background-color: red;
}

.obstacle-visited {
    background-color: grey;
}

.obstacle-wall {
    background-color: black;
}

.obstacle-backwards {
    background-color: blue;
}